---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/blog/">Blog</a>
        <a href="/about/">About</a>
		<h1>About myself, and my new Astro website.</h1>
        <p>In the last few years, I have tried to build some websites of myself, but all of them failed and not be used any longer.</p>
        <p>This time, I meet Astro and I hope I can do this good.</p>
        <p>This project is used for learning Astro, all follow the tutorial in its docs.</p>
	</body>
</html>
