---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const PageTitle = "My Blog Posts"
---
<BaseLayout PageTitle={PageTitle}>
	<p>In this place, blog will be posted.</p>
	<ul>
		{allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
	</ul>
</BaseLayout>